img.ellipse-1 {
    position: absolute;
    top: 0px;
}

/* picture {
    position: absolute;
} */

img.ellipse-2 {
    position: absolute;
    /* top: 341px;  */
    bottom: 0px;
    right: 0px;
    z-index: -1;
} 
